<ul class="p-0 m-0">
  <% messages.forEach((message)=>{ %>
    <li class="list-unstyled mb-4 <%= (message.from==session.user) ? 'text-right' : 'text-left' %>">
      <div class="h6 mb-1 px-1">
        <%= message.from %>
      </div>
      <div  class="border rounded-lg bg-white d-inline-block pt-3" style="max-width: 80%">
        <div class="mx-3 h6 font-weight-normal">
          <%= message.message %>
        </div>
        <div class="small pt-1 px-1 pb-1">
          <% let msgdate = new Date(message.date); %>
          <%= msgdate.toLocaleTimeString(); %>
        </div>
      </div>
    </li>
  <% }) %>
</ul>
