<div class="text-center">
	<h1 class="h3 text-center mb-1">You are not logged</h1>
	<div class="lead mb-4">Register or sign in</div>
	<a class="btn btn-dark mx-3 mb-3" href="/login" style="min-width: 100px">Login</a>
	<br>
	<a class="btn btn-dark mx-3 mb-3" href="/register" style="min-width: 100px">Register</a>
</div>