<div class="text-center">
	<h1 class="h3 text-center mb-3">Please validate your email</h1>
    <% if(session.email) {%>
        <p class="lead">
            An email whith validation code was sent to your email adress<br>
            <b><%= session.email %></b><br>
            Follow the link in email co complete validation
        </p>
        <div class="border border-warning bg-warning rounded text-center p-3 mx-auto my-4" style="max-width:680px">
            This mail SMTP is sent to the <b>test</b> email box,  you can reach email content by entering your <b>testing email box</b>,
            just put your testing email to the input on this server:<br>
            <a href="https://www.wpoven.com/tools/free-smtp-server-for-testing" target="_blank">Free SMTP Server for Testing</a>
        </div> 
        <a class="btn btn-dark mx-3 my-3" href="/mailresend" style="min-width: 100px">Send verification email again</a>
    <% } %>
</div>